<h2>Testers</h2>
<div>
<mat-form-field appearance="fill">
  <mat-label>Device List</mat-label>
  <mat-select (selectionChange)="changeDevice($event)">
    <mat-option *ngFor="let device of devices" [value]="device.description">
      {{device.description}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Country List</mat-label>
  <mat-select  (selectionChange)="changeCountry($event)">
    <mat-option *ngFor="let country of countries" [value]="country">
      {{country}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<ul class="mdc-list mdc-list--two-line">
  <li class="mdc-list-item" tabindex="0" *ngFor="let tester of testers">
    <span class="mdc-list-item__ripple"></span>
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">{{tester.firstName}} {{tester.lastName}} </span>
      <span class="mdc-list-item__secondary-text"> country: {{tester.country}}, rank: {{tester.rank}}</span>
    </span>
  </li>
</ul>
